<h1>Edit Wiki</h1>
 
 <%= form_for @wiki do |f| %>
   <%= f.label :title %>
   <%= f.text_field :title %>
 
   <%= f.label :body %>
   <%= f.text_area :body %>
   
   <% if current_user.role == 'premium'%>
   
   <%= f.label :private %>
   <%= f.check_box :private %>
   <% end %>
   
   <%= f.submit "Save" %>

 <% end %>
